<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Svyatnyh</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/style.css" rel="stylesheet"> <!-- Основной цсс -->
	<link href="css/media.css" rel="stylesheet"> <!-- Адаптивность -->
	<link href="css/photobox.css" rel="stylesheet"> <!-- Фотобокс -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- Библиотека -->
	<script src="js/jquery.bxslider.min.js"></script> <!-- БХслайдер -->
	<script src="js/jquery.photobox.js"></script> <!-- Фотобокс -->
	<script src="js/select.js"></script> <!-- Стилизация селект листов -->
	<script src="js/global.js"></script> <!-- Глобальный свой js -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="not_front">
	<header id="header">
		<div class="f_l center_header">
			<a href="" class="logo"><img src="images/css/logo.png" alt="" /></a>
		</div>
		<div class="f_l block_menu_header">
			<div id="main-menu" class="f_l bottom_header">
				<div class="block_inside">
					<nav class="main_menu">
						<button type="button" class="navbar-toggle">
							<span class="name_m">Меню</span>
							<span class="icon_menu">
								<span class="block__icon">
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
								</span>
							</span>
						</button>
						<ul>
							<li>
								<a class="main_link" href="/"></a>
							</li>
							<li>
								<a href="#">Компания</a>
							</li>
							<li class="wholesale">
								<a href="#">Оптовый<br /> интернет-магазин</a>
								<span class="f_l menu_conteiner">
									<ul class="block_inside">
										<li>
											<a href="#">Мужская одежда <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Брюки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Casual и Chinos <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Шорты <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюмы <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Пиджаки <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Блейзеры <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюм аф <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Пальто<img src="images/photo/im_m3.jpg" alt="" /> </a>
												</li>
												<li>
													<a href="#">Сорочка с длинным рукавом <img src="images/photo/im_m1.jpg" alt="" /> </a>
												</li>
												<li>
													<a href="#">Сорочка с коротким рукавом <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Мужские аксессуары <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Бабочка <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Галстук <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Зонт <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Запонки и зажимы <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Носки <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подарочная упаковка для ремня <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подарочный набор <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подтяжки <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Ремень <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Сумки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">детская одежда <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Брюки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюмы <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Сорочки <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">детские аксессуары <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Бабочки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Галстук <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Носки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Ремень <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Информация оптовика <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Подобрать размер <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Условия сотрудничества <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Цены групп товара <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Оплата заказа <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Доставка заказа <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">ТК по доставке <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Фирменный каталог <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Образцы тканей <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
									</ul>
								</span>
							</li>
							<li>
								<a href="#">Розничный<br /> интернет-магазин</a>
							</li>
							<li>
								<a href="#">Фотогалерея</a>
							</li>
							<li>
								<a href="#">Франчайзинг</a>
							</li>
							<li>
								<a href="#">Магазины</a>
							</li>
							<li>
								<a href="#">Новости</a>
							</li>
							<li>
								<a href="#">Контакты</a>
							</li>
						</ul>
					</nav>
					<div class="user_block">
						<a href="#" class="lk_user">Личный<br /> кабинет</a>
						<div class="search_block">
							<form action="№" method="post" accept-charset="UTF-8">
								<input name="search_block_form" placeholder="Поиск" value="" class="form-text" type="text" />
								<div class="close"></div>
							</form>
						</div>
						<a href="#" class="favorite">
							<span class="namber">12</span>
						</a>
						<div class="basked">
							<span class="namber">0</span>
							<div class="basked_grup">
								<div class="f_l lot_in">
									В вашей корзине<br /> <strong>99 позиций товаров</strong><br /> на сумму <strong>100 500 рублей</strong>
								</div>
								<a href="#" class="f_l order_product"><span>в корзину</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header><!-- .header-->
	<div class="f_l main_content">
		<div class="block_inside">
			<div id="breadcrumps">
				<a href="/">Главная</a>
				<span class="b_sep">—</span>
				<span>Корзина</span>
			</div>
			<div class="f_l" id="container">
				<main id="content">
					<h1>корзина</h1>
					<a class="clear_basked" href="#">Очистить  корзину</a>
					<div class="f_l table_conteiner order_content">
						<table>
							<thead>
								<tr>
									<th colspan="27" scope="col">Бабочки</th>
								</tr>
							</thead>
							<tbody>
								<tr class="name_grid">
									<td class="first"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="pr_t">Цена</td>
									<td class="nb_t">Кол.</td>
									<td class="sum_t">Сумма</td>
									<td class="clear"></td>
								</tr>
								<tr class="category_fild">
									<td class="image">
										<img src="images/photo/lot_img1.jpg" alt="" />
									</td>
									<td class="name_product" colspan="26">
										<a href="#">4.001.005.066 бабочка детская комбинированная голубая вставка черная
											<span class="image_full"><img src="images/photo/hov_basked.jpg" alt="" /></span>
										</a>
									</td>
								</tr>
								<tr>
									<td class="first"></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="1" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td class="pr_t">1190</td>
									<td class="nb_t">1</td>
									<td class="sum_t">1190</td>
									<td class="clear">
										<a href="#"></a>
									</td>
								</tr>
								<tr class="category_fild">
									<td class="image">
										<img src="images/photo/lot_img1.jpg" alt="" />
									</td>
									<td class="name_product" colspan="26">
										<a href="#">4.001.005.066 бабочка детская комбинированная голубая вставка черная
											<span class="image_full"><img src="images/photo/hov_basked.jpg" alt="" /></span>
										</a>
									</td>
								</tr>
								<tr>
									<td class="first"></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="1" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td class="pr_t">1190</td>
									<td class="nb_t">1</td>
									<td class="sum_t">1190</td>
									<td class="clear">
										<a href="#"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="f_l sum_value">
							<div class="inside_sum">
								<div class="title">Итого:</div>
								<div class="nb_t quantity">4</div>
								<div class="sum_t all_price">4380</div>
							</div>
						</div>
						<table>
							<thead>
								<tr>
									<th colspan="27" scope="col">БРЮКИ</th>
								</tr>
							</thead>
							<tbody>
								<tr class="name_grid">
									<td class="first"></td>
									<td>70</td>
									<td>28</td>
									<td>30</td>
									<td>32</td>
									<td>34</td>
									<td>36</td>
									<td>38</td>
									<td>40</td>
									<td>42</td>
									<td>44</td>
									<td>46</td>
									<td>48</td>
									<td>50</td>
									<td>52</td>
									<td>54</td>
									<td>56</td>
									<td>58</td>
									<td>60</td>
									<td>62</td>
									<td>64</td>
									<td>66</td>
									<td>68</td>
									<td class="pr_t">Цена</td>
									<td class="nb_t">Кол.</td>
									<td class="sum_t">Сумма</td>
									<td class="clear"></td>
								</tr>
								<tr class="category_fild">
									<td class="image">
										<img src="images/photo/lot_img2.jpg" alt="" />
									</td>
									<td class="name_product" colspan="26">
										<a href="#">4.001.005.066 бабочка детская комбинированная голубая вставка черная
											<span class="image_full"><img src="images/photo/hov_basked.jpg" alt="" /></span>
										</a>
									</td>
								</tr>
								<tr>
									<td class="first">164</td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="1" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td class="pr_t">1190</td>
									<td class="nb_t">1</td>
									<td class="sum_t">1190</td>
									<td class="clear">
										<a href="#"></a>
									</td>
								</tr>
								<tr>
									<td class="first">170</td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="1" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td class="pr_t">1190</td>
									<td class="nb_t">1</td>
									<td class="sum_t">1190</td>
									<td class="clear">
										<a href="#"></a>
									</td>
								</tr>
								<tr>
									<td class="first">176</td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="1" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td class="pr_t">1190</td>
									<td class="nb_t">1</td>
									<td class="sum_t">1190</td>
									<td class="clear">
										<a href="#"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="f_l sum_value">
							<div class="inside_sum">
								<div class="title">Итого:</div>
								<div class="nb_t quantity">4</div>
								<div class="sum_t all_price">4380</div>
							</div>
						</div>
						<table>
							<thead>
								<tr>
									<th colspan="27" scope="col">Сорочка с длинным рукавом</th>
								</tr>
							</thead>
							<tbody>
								<tr class="name_grid">
									<td class="first"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>XS</td>
									<td>S</td>
									<td>ML</td>
									<td>XL</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="pr_t">Цена</td>
									<td class="nb_t">Кол.</td>
									<td class="sum_t">Сумма</td>
									<td class="clear"></td>
								</tr>
								<tr class="category_fild">
									<td class="image">
										<img src="images/photo/lot_img1.jpg" alt="" />
									</td>
									<td class="name_product" colspan="26">
										<a href="#">4.001.005.066 бабочка детская комбинированная голубая вставка черная
											<span class="image_full"><img src="images/photo/hov_basked.jpg" alt="" /></span>
										</a>
									</td>
								</tr>
								<tr>
									<td class="first"></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="1" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td><input name="nb" value="" type="text" /></td>
									<td class="pr_t">1190</td>
									<td class="nb_t">1</td>
									<td class="sum_t">1190</td>
									<td class="clear">
										<a href="#"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="f_l sum_value">
							<div class="inside_sum">
								<div class="title">Итого:</div>
								<div class="nb_t quantity">4</div>
								<div class="sum_t all_price">4380</div>
							</div>
						</div>
						<div class="f_l bottom_value">
							<div class="inside_sum">
								<div class="title">Итого:</div>
								<div class="nb_t quantity">8</div>
								<div class="sum_t all_price">9380</div>
							</div>
						</div>
					</div>

					<div class="f_l order_button">
						<div>Оформить заказ</div>
					</div>
					<div class="f_l form_block_order">
						<form action="form.php" enctype="multipart/form-data" autocomplete="off" method="POST">
							<input style="display:none" type="reset" value="Reset" />
							<input type="hidden" name="type" value="1">
							<div class="f_l form_content contact">
								<div class="inside_form">
									<div class="f_l title_form">Контактные данные</div>
									<div class="f_l desc_form">Ваши данные остались без изменений?</div>
									<div class="fild comment">
										<label>Текст сообщения</label>
										<textarea name="comment" cols="60" rows="5" class="form-textarea"></textarea>
									</div>
									<div class="fild fio">
										<label>ФИО</label>
										<input class="text_fild" type="text" name="fio" value="Константинов Константин Константинович" required />
									</div>
									<div class="fild phone">
										<label>Телефон</label>
										<input class="text_fild" type="text" name="phone" value="+7 (920) 333-55-66" required />
									</div>
									<div class="fild mail">
										<label>E-mail</label>
										<input class="text_fild" type="text" name="mail" value="info@site.ru" required />
									</div>
									<div class="fild cyti">
										<label>Город</label>
										<input class="text_fild" type="text" name="cyti" value="Санкт-Петербург" required />
									</div>
								</div>
							</div>
							<div class="f_l form_content delivery">
								<div class="inside_form">
									<div class="f_l title_form">Доставка</div>
									<div class="f_l desc_form">Информация для транспортной компании остались без изменений?</div>
									<div class="right_grup fiz">
										<div class="fild adress">
											<label>Адрес</label>
											<input class="text_fild" type="text" name="adress" value="" required />
										</div>
										<div class="fild fio2">
											<label>ФИО</label>
											<input class="text_fild" type="text" name="fio2" value="" required />
										</div>
										<div class="fild ip">
											<label>ФОП ИП</label>
											<input class="text_fild" type="text" name="ip_name" value="" required />
										</div>
										<div class="fild grup_passport fiz_grup">
											<div class="fild_grup">
												<label>Паспорт серия</label>
												<input class="text_fild" type="text" name="ps_series" value="" required />
											</div>
											<div class="fild_grup">
												<label>Паспорт номер</label>
												<input class="text_fild" type="text" name="ps_namber" value="" required />
											</div>										
										</div>
										<div class="fild name_company">
											<label>Название организации</label>
											<input class="text_fild" type="text" name="company" value="" required />
										</div>
										<div class="fild inn_company">
											<label>ИНН</label>
											<input class="text_fild" type="text" name="inn_company" value="" required />
										</div>										
										<div class="fild phone">
											<label>Телефон получателя</label>
											<input class="text_fild" type="text" name="phone2" value="" required />
										</div>	
									</div>									
									<div class="type_pay">
										<div class="f_l radio fiz">
											<input name="pay" id="individual" checked="" type="radio">
											<label for="individual">Отправка на физическое лицо</label>
										</div>
										<div class="f_l radio ip">
											<input name="pay" id="ip" type="radio">
											<label for="ip">Отправка на ИП</label>
										</div>
										<div class="f_l radio ooo">
											<input name="pay" id="ooo" type="radio">
											<label for="ooo">Отправка на ООО</label>
										</div>
										<div class="desc_fild">* Поля, обязательные<br /> для заполнения</div>
									</div>
								</div>
							</div>
							<div class="f_l form_content transfer">
								<div class="inside_form">
									<div class="f_l last_transfer">
										<div class="inside_transfer">
											<div class="title_company">В прошлый раз вы отправляли транспортной компанией:</div>
											<a href="#">
												<img src="images/photo/ps3.jpg" alt="" />
											</a>
										</div>
									</div>
									<div class="f_l change_transfer">
										<div class="f_l title_transfer">Предложения по доставке от транспортных компаний</div>
										<div class="f_l radio_grup">
											<div class="f_l radio">
												<input name="c1" id="c1" type="radio">
												<label for="c1">
													<span class="table_conteiner logo_company">
														<span  class="inside_table"><img src="images/photo/ps3.jpg" alt=""></span>
													</span>
													<span class="table_conteiner price">
														<span  class="inside_table">1 530 <span class="rouble">Я</span></span>
													</span>
													<span class="table_conteiner time">
														<span  class="inside_table">20 дней</span>
													</span>
												</label>
											</div>
											<div class="f_l radio">
												<input name="c1" id="c2" type="radio">
												<label for="c2">
													<span class="table_conteiner logo_company">
														<span  class="inside_table"><img src="images/photo/ps9.jpg" alt=""></span>
													</span>
													<span class="table_conteiner price">
														<span  class="inside_table">1 530 <span class="rouble">Я</span></span>
													</span>
													<span class="table_conteiner time">
														<span  class="inside_table">20 дней</span>
													</span>
												</label>
											</div>
										</div>
										<div class="f_l radio_grup">
											<div class="f_l radio">
												<input name="c1" id="c3" type="radio">
												<label for="c3">
													<span class="table_conteiner logo_company">
														<span  class="inside_table"><img src="images/photo/ps4.jpg" alt=""></span>
													</span>
													<span class="table_conteiner price">
														<span  class="inside_table">630 <span class="rouble">Я</span></span>
													</span>
													<span class="table_conteiner time">
														<span  class="inside_table">3-6 дней</span>
													</span>
												</label>
											</div>
											<div class="f_l radio">
												<input name="c1" id="c4" type="radio">
												<label for="c4">
													<span class="table_conteiner logo_company">
														<span  class="inside_table"><img src="images/photo/ps5.jpg" alt=""></span>
													</span>
													<span class="table_conteiner price">
														<span  class="inside_table">330 <span class="rouble">Я</span></span>
													</span>
													<span class="table_conteiner time">
														<span  class="inside_table">15 дней</span>
													</span>
												</label>
											</div>
										</div>
										<div class="f_l radio_grup">
											<div class="f_l radio">
												<input name="c1" id="c5" type="radio">
												<label for="c5">
													<span class="table_conteiner logo_company">
														<span  class="inside_table"><img src="images/photo/ps8.jpg" alt=""></span>
													</span>
													<span class="table_conteiner price">
														<span  class="inside_table">330 <span class="rouble">Я</span></span>
													</span>
													<span class="table_conteiner time">
														<span  class="inside_table">8 дней</span>
													</span>
												</label>
											</div>
											<div class="f_l radio">
												<input name="c1" id="c6" type="radio">
												<label for="c6">
													<span class="table_conteiner logo_company">
														<span  class="inside_table"><img src="images/photo/p7.jpg" alt=""></span>
													</span>
													<span class="table_conteiner price">
														<span  class="inside_table">630 <span class="rouble">Я</span></span>
													</span>
													<span class="table_conteiner time">
														<span  class="inside_table">3-6 дней</span>
													</span>
												</label>
											</div>
										</div>
										<div class="f_l radio_grup">
											<div class="f_l radio">
												<input name="c1" id="c7" type="radio">
												<label for="c7">
													<span class="table_conteiner logo_company">
														<span  class="inside_table"><img src="images/photo/ps1.jpg" alt=""></span>
													</span>
													<span class="table_conteiner price">
														<span  class="inside_table">330 <span class="rouble">Я</span></span>
													</span>
													<span class="table_conteiner time">
														<span  class="inside_table">8 дней</span>
													</span>
												</label>
											</div>
											<div class="f_l radio">
												<input name="c1" id="c8" type="radio">
												<label for="c8">
													<span class="table_conteiner logo_company">
														<span  class="inside_table"><img src="images/photo/ps6.jpg" alt=""></span>
													</span>
													<span class="table_conteiner price">
														<span  class="inside_table">330 <span class="rouble">Я</span></span>
													</span>
													<span class="table_conteiner time">
														<span  class="inside_table">8 дней</span>
													</span>
												</label>
											</div>
										</div>
										<div class="f_l radio other">
											<input name="c1" id="c9" type="radio">
											<label for="c9">
												<span class="label">Иная доставка, введите название компании:</span>
												<input class="text_fild" name="other" value="" required="" type="text" />
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="f_l sub">
								<input type="submit" value="отправить заказ" />
							</div>
						</form>
					</div>
				</main><!-- .content -->
			</div>
			<aside id="left-sidebar">
				<div class="f_l menu_sitebar">
					<ul class="bar_menu">
						<li>
							<span class="tl top_link">Оптовый интернет-магазин</span>
							<ul class="second_level">
								<li>
									<span class="tl second_link">Мужская одежда</span>
									<ul class="three_level">
										<li>
											<a href="#">Брюки <span>120</span></a>
										</li>
										<li>
											<a href="#">Casual и Chinos <span>129</span></a>
										</li>
										<li>
											<a href="#">Шорты <span>131</span></a>
										</li>
										<li>
											<a href="#">Костюмы <span>120</span></a>
										</li>
										<li>
											<a href="#">Пиджаки <span>120</span></a>
										</li>
										<li>
											<a href="#">Блейзеры <span>120</span></a>
										</li>
										<li>
											<a href="#">Костюм аф <span>120</span></a>
										</li>
										<li>
											<a href="#">Сорочка с длинным рукавом <span>120</span></a>
										</li>
										<li>
											<a href="#">Сорочка с коротким рукавом <span>120</span></a>
										</li>									
									</ul>
								</li>
								<li>
									<span class="tl second_link">Мужские аксессуары</span>
									<ul class="three_level">
										<li>
											<a href="#">Бабочка <span>120</span></a>
										</li>
										<li>
											<a href="#">Галстук <span>129</span></a>
										</li>
										<li>
											<a href="#">Зонт <span>131</span></a>
										</li>
										<li>
											<a href="#">Запонки и зажимы <span>120</span></a>
										</li>
										<li>
											<a href="#">Носки <span>120</span></a>
										</li>
										<li>
											<a href="#">Подарочная упаковка для ремня <span>120</span></a>
										</li>
										<li>
											<a href="#">Подарочный набор <span>120</span></a>
										</li>
										<li>
											<a href="#">Подтяжки <span>120</span></a>
										</li>
										<li>
											<a href="#">Ремень <span>120</span></a>
										</li>	
										<li>
											<a href="#">Сумки <span>120</span></a>
										</li>									
									</ul>
								</li>	
								<li>
									<span class="tl second_link">детская одежда</span>
									<ul class="three_level">
										<li>
											<a href="#">Брюки <span>120</span></a>
										</li>
										<li>
											<a href="#">Костюмы <span>129</span></a>
										</li>
										<li>
											<a href="#">Сорочки <span>131</span></a>
										</li>							
									</ul>
								</li>
								<li>
									<span class="tl second_link">детские аксессуары</span>
									<ul class="three_level">
										<li>
											<a href="#">Бабочки <span>131</span></a>
										</li>
										<li>
											<a href="#">Галстук <span>131</span></a>
										</li>
										<li>
											<a href="#">Носки <span>131</span></a>
										</li>
										<li>
											<a href="#">Ремень <span>131</span></a>
										</li>						
									</ul>
								</li>
								<li>
									<span class="tl second_link">Информация оптовика</span>
									<ul>
										<li>
											<a href="#">Подобрать размер <span>131</span></a>
										</li>
										<li>
											<a href="#">Условия сотрудничества <span>131</span></a>
										</li>
										<li>
											<a href="#">Цены групп товара <span>131</span></a>
										</li>
										<li>
											<a href="#">Оплата заказа <span>131</span></a>
										</li>
										<li>
											<a href="#">Доставка заказа <span>131</span></a>
										</li>
										<li>
											<a href="#">ТК по доставке <span>131</span></a>
										</li>
										<li>
											<a href="#">Фирменный каталог <span>131</span></a>
										</li>
										<li>
											<a href="#">Образцы тканей <span>131</span></a>
										</li>
									</ul>
								</li>							
							</ul>
						</li>
						<li>
							<span class="tl top_link">Розничный интернет-магазин</span>
						</li>					
					</ul>
				</div>			
			</aside>
		</div>
	</div>
	<footer id="footer">
		<div class="block_inside">
			<div class="f_l top_footer">
				<div class="phone">
					<a href="tel:88005003833">8-800-500-38-33</a> <span class="f_l">Единый call-центр (по России бесплатно)</span>
				</div>
				<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				<a href="" class="feadback">Обратная связь</a>
			</div>
			<div class="f_l center_footer">
				<nav>
					<div class="title_menu">оптовый интернет-магазин</div>
					<ul>
						<li class="top_link"><a href="#">Информация оптовика</a></li>
						<li><a href="#">Подобрать размер</a></li>
						<li><a href="#">Условия сотрудничества</a></li>
						<li><a href="#">Цены групп товара</a></li>
						<li><a href="#">Оплата заказа</a></li>
						<li><a href="#">Доставка заказа</a></li>
						<li><a href="#">ТК по доставке</a></li>
						<li><a href="#">Фирменный каталог</a></li>
						<li><a href="#">Образцы тканей</a></li>
					</ul>
				</nav>
				<nav>
					<div class="title_menu">розничный интернет-магазин</div>
					<ul>
						<li><a href="#">Подобрать размер</a></li>
						<li><a href="#">Оплата заказа</a></li>
						<li><a href="#">Доставка заказа</a></li>
						<li><a href="#">Обмен и возврат</a></li>
						<li><a href="#">Фирменный каталог</a></li>
						<li><a href="#">Образцы тканей</a></li>
					</ul>
				</nav>
				<nav>
					<div class="title_menu">франчайзинг</div>
					<ul>
						<li><a href="#">Инвестиции в открытие</a></li>
						<li><a href="#">Поддержка со стороны SVYATNYH</a></li>
						<li><a href="#">Этапы по открытию магазина</a></li>
						<li><a href="#">Ваша прибыль</a></li>
						<li><a href="#">Презентация магазинов</a></li>
						<li><a href="#">Фирменный каталог</a></li>
					</ul>
				</nav>								
			</div>
			<div class="f_l contact_footer">
				<div class="row_g">
					<div class="title_row">Главный офис оптовых продаж</div>
					<div class="work_time">Режим работы: пн-сб с 7:30 до 19:30</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>
				<div class="row_g">
					<div class="title_row">Интернет-магазин:</div>
					<div class="work_time">Режим работы: пн-сб с 7:30 до 19:30</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>
				<div class="row_g">
					<div class="title_row">Отдел франчайзинга:</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>				
			</div>
		</div>
	</footer><!-- .footer -->	
	<div class="shadow"></div>
	<p id="back-top">
		<a href="#top"><img src="images/css/up_button.png" alt="Вверх" /></a>
	</p>
</body>
</html>
