<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Svyatnyh</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/style.css" rel="stylesheet"> <!-- Основной цсс -->
	<link href="css/media.css" rel="stylesheet"> <!-- Адаптивность -->
	<link href="css/photobox.css" rel="stylesheet"> <!-- Фотобокс -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- Библиотека -->
	<script src="js/jquery.bxslider.min.js"></script> <!-- БХслайдер -->
	<script src="js/jquery.photobox.js"></script> <!-- Фотобокс -->	
	<script src="js/select.js"></script> <!-- Стилизация селект листов -->	
	<script src="js/global.js"></script> <!-- Глобальный свой js -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="not_front">
	<header id="header">
		<div class="f_l center_header">
			<a href="" class="logo"><img src="images/css/logo.png" alt="" /></a>
		</div>
		<div class="f_l block_menu_header">
			<div id="main-menu" class="f_l bottom_header">
				<div class="block_inside">
					<nav class="main_menu">
						<button type="button" class="navbar-toggle">
							<span class="name_m">Меню</span>
							<span class="icon_menu">
								<span class="block__icon">
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
								</span>
							</span>
						</button>
						<ul>
							<li>
								<a class="main_link" href="/"></a>
							</li>
							<li>
								<a href="#">Компания</a>
							</li>
							<li class="wholesale">
								<a href="#">Оптовый<br /> интернет-магазин</a>
								<span class="f_l menu_conteiner">
									<ul class="block_inside">
										<li>
											<a href="#">Мужская одежда <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Брюки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Casual и Chinos <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Шорты <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюмы <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Пиджаки <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Блейзеры <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюм аф <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Пальто<img src="images/photo/im_m3.jpg" alt="" /> </a>
												</li>
												<li>
													<a href="#">Сорочка с длинным рукавом <img src="images/photo/im_m1.jpg" alt="" /> </a>
												</li>
												<li>
													<a href="#">Сорочка с коротким рукавом <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Мужские аксессуары <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Бабочка <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Галстук <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Зонт <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Запонки и зажимы <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Носки <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подарочная упаковка для ремня <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подарочный набор <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подтяжки <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Ремень <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Сумки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">детская одежда <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Брюки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюмы <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Сорочки <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">детские аксессуары <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Бабочки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Галстук <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Носки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Ремень <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Информация оптовика <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Подобрать размер <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Условия сотрудничества <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Цены групп товара <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Оплата заказа <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Доставка заказа <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">ТК по доставке <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Фирменный каталог <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Образцы тканей <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
									</ul>
								</span>
							</li>
							<li>
								<a href="#">Розничный<br /> интернет-магазин</a>
							</li>
							<li>
								<a href="#">Фотогалерея</a>
							</li>
							<li>
								<a href="#">Франчайзинг</a>
							</li>
							<li>
								<a href="#">Магазины</a>
							</li>
							<li>
								<a href="#">Новости</a>
							</li>
							<li>
								<a href="#">Контакты</a>
							</li>
						</ul>
					</nav>
					<div class="user_block">
						<a href="#" class="lk_user">Личный<br /> кабинет</a>
						<div class="search_block">
							<form action="№" method="post" accept-charset="UTF-8">
								<input name="search_block_form" placeholder="Поиск" value="" class="form-text" type="text" />
								<div class="close"></div>
							</form>
						</div>
						<a href="#" class="favorite">
							<span class="namber">12</span>
						</a>
						<div class="basked">
							<span class="namber">0</span>
							<div class="basked_grup">
								<div class="f_l lot_in">
									В вашей корзине<br /> <strong>99 позиций товаров</strong><br /> на сумму <strong>100 500 рублей</strong>
								</div>
								<a href="#" class="f_l order_product"><span>в корзину</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header><!-- .header-->
	<div class="f_l main_content">
		<div class="block_inside">
			<div id="breadcrumps">
				<a href="/">Главная</a>
				<span class="b_sep">—</span>
				<span>компания</span>
			</div>
		</div>
		<div class="f_l off_bar" id="container">
			<main id="content">
				<h1>компания</h1>
				<div class="f_l company_grup">
					<div class="f_l row birthday">
						<div class="block_inside">
							<div class="graf_block">
								<i></i>
								<div class="name">рождение<br /> бренда</div>
							</div>
							<div class="f_l text_block">
								<p>Производственно-торговая компания "SVYATNYH" начала свой путь с 1995 года. На сегодняшний день наша компания достигла значительных успехов: "SVYATNYH" - это состоявшийся бренд, который представлен коллекциями мужской одежды и аксессуаров, а также коллекциями детских костюмов, брюк и аксессуаров для мальчиков.</p>

								<p>Наша компания получила свое название в честь ее создателя&nbsp; - Святного Сергея Леонидовича, который организовал небольшое частное швейное предприятие в самом центре города Брянска более 20 лет назад.</p>

								<p>Благодаря уникальным моделям мужской одежды, качественному пошиву и современным тканям предприятие моментально стало набирать все большую популярность в городе, и уже через год успешной работы появились партнеры, которые представили его продукцию в г. Москве.</p>

								<p>С тех пор компания начала ежегодно расширяться, и на сегодняшний день это уже огромное предприятие - швейный комплекс площадью более 20 тысяч квадратных метров, состоящий из отдельных цехов, имеющий уникальную материально-производственную, техническую и сырьевую базу.</p>
							</div>
						</div>
					</div>
					<div class="f_l row production even">
						<div class="block_inside">
							<div class="graf_block">
								<i></i>
								<div class="name">собственное<br /> производство</div>
							</div>
							<div class="f_l text_block">
								<p>Отличительной особенностью компании "SVYATNYH" является то, что мы осуществляем весь спектр работ по производству мужской одежды, начиная от закупки тканей и заканчивая реализацией готовой продукции.</p>

								<p>Наши технологии отличаются новаторским подходом, использованием только новейшего современного оборудования, что позволяет снизить себестоимость производимой продукции при улучшении ее качества.</p>

								<p>Высокоточный раскройный комплекс американской фирмы GERBER TECHNOLOGY, новейшие автоматы и полуавтоматы американской фирмы AMF REECE, немецкой фирмы PFAFF, японской фирмы JUKI, MITSUBISHI позволяют выполнить любые элементы отделки, сохраняя при этом высочайший уровень качества и надежности.</p>

								<p>Используются прикладные материалы и качественная фурнитура фирм: KUFFNER, FREUDENBERG, GUTERMANN. Установлено самое современное оборудование влажно-тепловой обработки итальянской фирмы ROTONDI и турецкой фирмы MALKAN с электронным управлением, что дает возможность подбирать режим обработки тканей в зависимости от их составов.</p>
							</div>
						</div>
					</div>
					<div class="f_l row gallery_row">
						<div class="block_inside">
							<div class="block_row">
								<div class="inside_row">
									<i class="jackets"></i>
									<div class="name">пиджаки</div>
								</div>
							</div>
							<div class="block_row">
								<img src="images/photo/ph_one.jpg" title="Фото 1" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>
							</div>
							<div class="block_row">
								<img src="images/photo/ph_one.jpg" title="Фото с каким то названием 2" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>								
							</div>
							<div class="block_row">
								<div class="inside_row">
									<i class="pants"></i>
									<div class="name">Брюки</div>
								</div>
							</div>
							<div class="block_row">
								<img src="images/photo/ph_one.jpg" title="Фото 3" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>								
							</div>
							<div class="block_row">
								<img src="images/photo/ph_one.jpg" title="Фото 3" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>								
							</div>
							<div class="block_row">
								<img src="images/photo/ph_one.jpg" title="Фото 4" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>								
							</div>
							<div class="block_row">
								<div class="inside_row">
									<i class="socks"></i>
									<div class="name">носки</div>
								</div>
							</div>
							<div class="block_row">
								<img src="images/photo/ph_one.jpg" title="Фото 5" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>								
							</div>
							<div class="block_row">
								<img src="images/photo/ph_one.jpg" title="Фото 6" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>								
							</div>
							<div class="block_row">
								<img src="images/photo/ph_one.jpg" title="Фото 7" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>								
							</div>
							<div class="block_row">
								<img src="images/photo/video_im.jpg" title="Фото 8" />
								<div class="external">
									<div class="slider_photo">
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
										<div><img src="images/photo/ph_one.jpg" alt="" /></div>
									</div>
								</div>								
							</div>							
						</div>
					</div>
					<div class="f_l row trand even">
						<div class="block_inside">
							<div class="graf_block">
								<i></i>
								<div class="name">всегда<br /> в тренде</div>
							</div>
							<div class="f_l text_block">
								<p>Благодаря этому наша компания мгновенно реагирует на появление новых тенденций в мужской моде. 4 раза в год мы выпускаем <a href="#">НОВУЮ КОЛЛЕКЦИЮ</a>, при этом базовые модели всегда есть в наличии на нашем складе</p>
							</div>
						</div>
					</div>
					<div class="f_l touch row">
						<div class="block_inside">
							<div class="graf_block">
								<i></i>
								<div class="name">будь<br /> в курсе</div>
							</div>
							<div class="f_l text_block">
								<p>Мы регулярно информируем наших партнеров и клиентов о значимых событиях, <a href="#">НОВОСТЯХ</a> в нашей компании: открытии нового магазина, поступлении новой коллекции и т.д. </p>
							</div>
						</div>
					</div>
					<div class="f_l row advantages even">
						<div class="block_inside">
							<div class="graf_block">
								<i></i>
								<div class="name">Наши<br /> преимущества</div>
							</div>
							<div class="f_l text_block">
								<p>Мы заботимся о том, чтобы оставаться лучшими в своём сегменте, и <a href="#">ПРЕИМУЩЕСТВА</a> работы с нами очевидны:</p>

								<ol>
									<li>Собственное производство – гарантия лучшей цены.</li>
									<li>Работаем с физическими лицами, ООО, ИП.</li>
									<li>Регистрация на сайте исключительно по желанию клиента.</li>
									<li>Мы не скрываем наши цены на сайте.</li>
									<li>Возможность покупать не полными размерными рядами.</li>
									<li>На нашем сайте всегда актуальные остатки. Автосинхронизация склада и сайта каждые 3 минуты.</li>
									<li>Возможность заказа через корзину увеличивает скорость обработки заказа.</li>
									<li>Каждый товар имеет уникальный артикул. Ошибки при сборе заказа исключены благодаря использованию сканеров и штрих-кодов.</li>
									<li>Бесплатная доставка до транспортной компании.</li>
								</ol>
							</div>
						</div>
					</div>
					<div class="f_l delivery row">
						<div class="block_inside">
							<div class="graf_block">
								<i></i>
								<div class="name">удобная<br /> доставка</div>
							</div>
							<div class="f_l text_block">
								<p>Мы работаем со всеми <a href="#">ТРАНСПОРТНЫМИ КОМПАНИЯМИ</a>: КИТ, Почта России, Байкал Сервис, Деловые линии, ПЭК, Энергия, СДЕК, и т.д. </p>
							</div>
						</div>
					</div>
					<div class="f_l row range even">
						<div class="block_inside">
							<div class="graf_block">
								<i></i>
								<div class="name">Широкий<br /> ассортимент</div>
							</div>
							<div class="f_l text_block">
								<p>В <a href="#">НАШЕМ АССОРТИМЕНТЕ</a> Вы найдете все что нужно современному мужчине: мужские костюмы, брюки, пальто, сорочки, джемперы и кардиганы, галстуки и бабочки, ремни, запонки, шарфы, шапки, нижнее белье и носки. Отдельное наше достижение – это костюмы для мальчиков. Они красивы, удобны, изготовлены из качественных материалов и полностью отвечают европейским стандартам. В дополнение к детскому костюму в нашем ассортименте представлены: брюки для мальчиков, сорочки, галстуки и бабочки, ремни, носки.</p>
							</div>
						</div>
					</div>
					<div class="f_l photostudio row">
						<div class="block_inside">
							<div class="graf_block">
								<i></i>
								<div class="name">уникальная<br /> фотостудия</div>
							</div>
							<div class="f_l text_block">
								<p>На нашем предприятии создана уникальная фотостудия с новейшим профессиональным фотооборудованием (перечислить фирмы), постоянно обновляющимися интерьерами и командой фотографов международного класса. Поэтому в нашей <a href="#">ФОТОГАЛЕРЕЕ</a> представлены подробнейшие фото производимой продукции. Всего на сайте более 4000 фотографий.</p>
							</div>
						</div>
					</div>
					<div class="f_l row magazine even">
						<div class="block_inside">
							<div class="graf_block">
								<div class="inside_score">
									<div>работает <span>33</span> магазина</div>
								</div>
							</div>
							<div class="f_l text_block">
								<p>Торговая сеть <a href="#">«SVYATNYH»</a> на сегодняшний день насчитывает 33 розничных МАГАЗИНА в разных городах России в самых крупных торговых центрах. И количество открытых магазинов с каждым годом растет благодаря знаниям, возможностям  и опыту нашего отдела развития торговой сети, а также нашим партнерам по <a href="#">ФРАНЧАЙЗИНГУ</a>. Будем рады видеть Вас в числе наших клиентов или партнеров по бизнесу!</p>
							</div>
						</div>
					</div>	
				</div>
			</main><!-- .content -->
		</div>
	</div>
	<footer id="footer">
		<div class="block_inside">
			<div class="f_l top_footer">
				<div class="phone">
					<a href="tel:88005003833">8-800-500-38-33</a> <span class="f_l">Единый call-центр (по России бесплатно)</span>
				</div>
				<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				<a href="" class="feadback">Обратная связь</a>
			</div>
			<div class="f_l center_footer">
				<nav>
					<div class="title_menu">оптовый интернет-магазин</div>
					<ul>
						<li class="top_link"><a href="#">Информация оптовика</a></li>
						<li><a href="#">Подобрать размер</a></li>
						<li><a href="#">Условия сотрудничества</a></li>
						<li><a href="#">Цены групп товара</a></li>
						<li><a href="#">Оплата заказа</a></li>
						<li><a href="#">Доставка заказа</a></li>
						<li><a href="#">ТК по доставке</a></li>
						<li><a href="#">Фирменный каталог</a></li>
						<li><a href="#">Образцы тканей</a></li>
					</ul>
				</nav>
				<nav>
					<div class="title_menu">розничный интернет-магазин</div>
					<ul>
						<li><a href="#">Подобрать размер</a></li>
						<li><a href="#">Оплата заказа</a></li>
						<li><a href="#">Доставка заказа</a></li>
						<li><a href="#">Обмен и возврат</a></li>
						<li><a href="#">Фирменный каталог</a></li>
						<li><a href="#">Образцы тканей</a></li>
					</ul>
				</nav>
				<nav>
					<div class="title_menu">франчайзинг</div>
					<ul>
						<li><a href="#">Инвестиции в открытие</a></li>
						<li><a href="#">Поддержка со стороны SVYATNYH</a></li>
						<li><a href="#">Этапы по открытию магазина</a></li>
						<li><a href="#">Ваша прибыль</a></li>
						<li><a href="#">Презентация магазинов</a></li>
						<li><a href="#">Фирменный каталог</a></li>
					</ul>
				</nav>								
			</div>
			<div class="f_l contact_footer">
				<div class="row_g">
					<div class="title_row">Главный офис оптовых продаж</div>
					<div class="work_time">Режим работы: пн-сб с 7:30 до 19:30</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>
				<div class="row_g">
					<div class="title_row">Интернет-магазин:</div>
					<div class="work_time">Режим работы: пн-сб с 7:30 до 19:30</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>
				<div class="row_g">
					<div class="title_row">Отдел франчайзинга:</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>				
			</div>
		</div>
	</footer><!-- .footer -->	
	<div class="shadow"></div>
	<p id="back-top"> 
		<a href="#top"><img src="images/css/up_button.png" alt="Вверх" /></a> 
	</p>	
</body>
</html>