<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Svyatnyh</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/style.css" rel="stylesheet"> <!-- Основной цсс -->
	<link href="css/media.css" rel="stylesheet"> <!-- Адаптивность -->
	<link href="css/photobox.css" rel="stylesheet"> <!-- Фотобокс -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- Библиотека -->
	<script src="js/jquery.bxslider.min.js"></script> <!-- БХслайдер -->
	<script src="js/jquery.photobox.js"></script> <!-- Фотобокс -->	
	<script src="js/select.js"></script> <!-- Стилизация селект листов -->
	<script src="js/zoomsl-3.0.min.js"></script> <!-- Зум -->		
	<script src="js/global.js"></script> <!-- Глобальный свой js -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
   jQuery(function(){
		var width = $(window).width();
		if (width > 1200) {
			$(".row_s img").imagezoomsl({
				 zoomrange: [1, 1.2],
				 zoomstart: 1.2
			});
		} 
   });   
</script>
</head>

<body class="not_front">
	<header id="header">
		<div class="f_l center_header">
			<a href="" class="logo"><img src="images/css/logo.png" alt="" /></a>
		</div>
		<div class="f_l block_menu_header">
			<div id="main-menu" class="f_l bottom_header">
				<div class="block_inside">
					<nav class="main_menu">
						<button type="button" class="navbar-toggle">
							<span class="name_m">Меню</span>
							<span class="icon_menu">
								<span class="block__icon">
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
								</span>
							</span>
						</button>
						<ul>
							<li>
								<a class="main_link" href="/"></a>
							</li>
							<li>
								<a href="#">Компания</a>
							</li>
							<li class="wholesale">
								<a href="#">Оптовый<br /> интернет-магазин</a>
								<span class="f_l menu_conteiner">
									<ul class="block_inside">
										<li>
											<a href="#">Мужская одежда <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Брюки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Casual и Chinos <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Шорты <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюмы <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Пиджаки <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Блейзеры <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюм аф <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Пальто<img src="images/photo/im_m3.jpg" alt="" /> </a>
												</li>
												<li>
													<a href="#">Сорочка с длинным рукавом <img src="images/photo/im_m1.jpg" alt="" /> </a>
												</li>
												<li>
													<a href="#">Сорочка с коротким рукавом <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Мужские аксессуары <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Бабочка <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Галстук <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Зонт <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Запонки и зажимы <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Носки <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подарочная упаковка для ремня <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подарочный набор <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подтяжки <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Ремень <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Сумки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">детская одежда <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Брюки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюмы <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Сорочки <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">детские аксессуары <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Бабочки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Галстук <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Носки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Ремень <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Информация оптовика <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Подобрать размер <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Условия сотрудничества <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Цены групп товара <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Оплата заказа <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Доставка заказа <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">ТК по доставке <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Фирменный каталог <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Образцы тканей <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
									</ul>
								</span>
							</li>
							<li>
								<a href="#">Розничный<br /> интернет-магазин</a>
							</li>
							<li>
								<a href="#">Фотогалерея</a>
							</li>
							<li>
								<a href="#">Франчайзинг</a>
							</li>
							<li>
								<a href="#">Магазины</a>
							</li>
							<li>
								<a href="#">Новости</a>
							</li>
							<li>
								<a href="#">Контакты</a>
							</li>
						</ul>
					</nav>
					<div class="user_block">
						<a href="#" class="lk_user">Личный<br /> кабинет</a>
						<div class="search_block">
							<form action="№" method="post" accept-charset="UTF-8">
								<input name="search_block_form" placeholder="Поиск" value="" class="form-text" type="text" />
								<div class="close"></div>
							</form>
						</div>
						<a href="#" class="favorite">
							<span class="namber">12</span>
						</a>
						<div class="basked">
							<span class="namber">0</span>
							<div class="basked_grup">
								<div class="f_l lot_in">
									В вашей корзине<br /> <strong>99 позиций товаров</strong><br /> на сумму <strong>100 500 рублей</strong>
								</div>
								<a href="#" class="f_l order_product"><span>в корзину</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header><!-- .header-->
	<div class="f_l main_content">
		<div class="block_inside">
			<div id="breadcrumps">
				<a href="/">Оптовый интернет-магазин</a>
				<span class="b_sep">—</span>
				<a href="/">Мужская одежда</a>
				<span class="b_sep">—</span>
				<a href="/">Костюмы</a>
				<span class="b_sep">—</span>				
				<span>130-3-М8.7 пиджак</span>
			</div>
		</div>
		<div class="f_l off_bar product_inside" id="container">
			<main id="content">
				<h1>130-3-М8.7 пиджак</h1>
				<div class="f_l node_pager">
					<a class="next" href="#"></a>
					<a class="prev" href="#"></a>
				</div>
				<div class="f_l product_page">
					<div class="f_l row_lot">
						<div class="block_inside">
							<div class="photo_product">
								<div class="pager_product" id="pager">
									<a data-slide-index="0" href=""><img src="images/photo/costume_smal (1).jpg" /></a>
									<a data-slide-index="1" href=""><img src="images/photo/costume_smal (2).jpg" /></a>
									<a data-slide-index="2" href=""><img src="images/photo/costume_smal (3).jpg" /></a>
									<a data-slide-index="3" href=""><img src="images/photo/costume_smal (4).jpg" /></a>
									<a data-slide-index="4" href=""><img src="images/photo/costume_smal (5).jpg" /></a>
									<a data-slide-index="5" href=""><img src="images/photo/costume_smal (6).jpg" /></a>
									<a data-slide-index="6" href=""><img src="images/photo/costume_smal (7).jpg" /></a>
									<a data-slide-index="7" href=""><img src="images/photo/costume_smal (8).jpg" /></a>
									<a data-slide-index="8" href=""><img src="images/photo/costume_smal (9).jpg" /></a>
									<a data-slide-index="9" href=""><img src="images/photo/costume_smal (10).jpg" /></a>
									<a data-slide-index="10" href=""><img src="images/photo/costume_smal (11).jpg" /></a>
									<a data-slide-index="11" href=""><img src="images/photo/costume_smal (12).jpg" /></a>
								</div>	
								<div class="main_photo_pr">
									<div class="image_product">
										<a href="images/photo/costume (1).jpg" class="row_s">
											<img data-large="images/photo/costume (1).jpg" alt="" src="images/photo/costume (1).jpg" />
										</a>
										<a href="images/photo/costume (2).jpg" class="row_s">
											<img data-large="images/photo/costume (2).jpg" alt="" src="images/photo/costume (2).jpg" />
										</a>										
										<a href="images/photo/costume (3).jpg" class="row_s">
											<img data-large="images/photo/costume (3).jpg" alt="" src="images/photo/costume (3).jpg" />
										</a>
										<a href="images/photo/costume (4).jpg" class="row_s">
											<img data-large="images/photo/costume (4).jpg" alt="" src="images/photo/costume (4).jpg" />
										</a>	
										<a href="images/photo/costume (5).jpg" class="row_s">
											<img data-large="images/photo/costume (5).jpg" alt="" src="images/photo/costume (5).jpg" />
										</a>
										<a href="images/photo/costume (6).jpg" class="row_s">
											<img data-large="images/photo/costume (6).jpg" alt="" src="images/photo/costume (6).jpg" />
										</a>	
										<a href="images/photo/costume (7).jpg" class="row_s">
											<img data-large="images/photo/costume (7).jpg" alt="" src="images/photo/costume (7).jpg" />
										</a>
										<a href="images/photo/costume (8).jpg" class="row_s">
											<img data-large="images/photo/costume (8).jpg" alt="" src="images/photo/costume (8).jpg" />
										</a>	
										<a href="images/photo/costume (9).jpg" class="row_s">
											<img data-large="images/photo/costume (9).jpg" alt="" src="images/photo/costume (9).jpg" />
										</a>
										<a href="images/photo/costume (10).jpg" class="row_s">
											<img data-large="images/photo/costume (10).jpg" alt="" src="images/photo/costume (10).jpg" />
										</a>	
										<a href="images/photo/costume (11).jpg" class="row_s">
											<img data-large="images/photo/costume (11).jpg" alt="" src="images/photo/costume (11).jpg" />
										</a>
										<a href="images/photo/costume (12).jpg" class="row_s">
											<img data-large="images/photo/costume (12).jpg" alt="" src="images/photo/costume (12).jpg" />
										</a>
									</div>
									<div class="imag_box"><a href="images/photo/product_second.jpg"></a></div>	
								</div>								
							</div>
							<div class="info_product">
								<div class="fild">
									Вид: костюм
								</div>
								<div class="fild">
									Артикул: 130-3-М8.7 Пиджак
								</div>
								<div class="fild">
									Состав: шерсть-35%, вискоза-35%, полиэстер-30%
								</div>
								<div class="fild">
									Модель: костюм приталенный
								</div>
								<div class="fild">
									Цвет: синий
								</div>
								<div class="fild">
									Фактура: узор
								</div>
								<div class="fild">
									Описание: М48 - костюм классический. Пиджак - модель М4: "М" без ручного стежка по лацканам, "4" посадка - классический,  2 пуговицы по полочкам, 2 шлицы по спинке. Брюки - модель 8: "8" зауженные без защипа, 2 кармана сзади, подшитые внизу тесьмой.
								</div>	
								<div class="price">1133 <span class="rouble2">v</span></div>
								<div class="remnants">
									<div class="title">Остатки по складу:</div>
									<div class="table_content">
										<table>
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">44</th>
													<th scope="col">46</th>
													<th scope="col">48</th>
													<th scope="col">50</th>
													<th scope="col">52</th>
													<th scope="col">54</th>
													<th scope="col">56</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>164</td>
													<td>
														<div class="quantity">12</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="22"/>
															<div class="minus">-</div>
														</div>
													</td>
													<td>
														<div class="quantity">24</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>													
													</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">42</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">25</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">21</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
												</tr>
												<tr>
													<td>170</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="22"/>
															<div class="minus">-</div>
														</div>
													</td>
													<td>
														<div class="quantity">3</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>													
													</td>
													<td>
														<div class="quantity">4</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">22</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">45</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">12</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
												</tr>
												<tr>
													<td>178</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="22"/>
															<div class="minus">-</div>
														</div>
													</td>
													<td>
														<div class="quantity">3</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>													
													</td>
													<td>
														<div class="quantity">4</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">22</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">45</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">12</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
												</tr>
												<tr>
													<td>180</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="22"/>
															<div class="minus">-</div>
														</div>
													</td>
													<td>
														<div class="quantity">3</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>													
													</td>
													<td>
														<div class="quantity">4</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">22</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">45</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">12</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
												</tr>												
											</tbody>
										</table>
									</div>
								</div>
								<div class="f_l add_basked">
									<a href="#" data-nid="0"><span>добавить в  корзину</span></a>
								</div>
								<span class="product_link">Подобрать  размер</span>
								<a class="product_link" href="#">Сравнение моделей</a>
							</div>
						</div>
					</div>
					<div class="f_l complement_list">дополните свой модный образ</div>
					<div class="f_l row_lot even">
						<div class="block_inside">
							<div class="photo_product">
								<div class="pager_product" id="pager">
									<a data-slide-index="0" href=""><img src="images/photo/pants_sm (4).jpg" /></a>
									<a data-slide-index="1" href=""><img src="images/photo/pants_sm (1).jpg" /></a>
									<a data-slide-index="2" href=""><img src="images/photo/pants_sm (2).jpg" /></a>
									<a data-slide-index="3" href=""><img src="images/photo/pants_sm (3).jpg" /></a>
								</div>							
								<div class="main_photo_pr">
									<div class="image_product">
										<a href="images/photo/pants (1).jpg" class="row_s">
											<img data-large="images/photo/pants (1).jpg" alt="" src="images/photo/pants (1).jpg" />
										</a>
										<a href="images/photo/pants (2).jpg" class="row_s">
											<img data-large="images/photo/pants (2).jpg" alt="" src="images/photo/pants (2).jpg" />
										</a>										
										<a href="images/photo/pants (3).jpg" class="row_s">
											<img data-large="images/photo/pants (3).jpg" alt="" src="images/photo/pants (3).jpg" />
										</a>
										<a href="images/photo/pants (4).jpg" class="row_s">
											<img data-large="images/photo/pants (4).jpg" alt="" src="images/photo/pants (4).jpg" />
										</a>
									</div>
									<div class="imag_box"><a href="images/photo/product_second.jpg"></a></div>	
								</div>
							</div>
							<div class="info_product">
								<div class="fild">
									Вид: костюм
								</div>
								<div class="fild">
									Артикул: 130-3-М8.7 Пиджак
								</div>
								<div class="fild">
									Состав: шерсть-35%, вискоза-35%, полиэстер-30%
								</div>
								<div class="fild">
									Модель: костюм приталенный
								</div>
								<div class="fild">
									Цвет: синий
								</div>
								<div class="fild">
									Фактура: узор
								</div>
								<div class="fild">
									Описание: М48 - костюм классический. Пиджак - модель М4: "М" без ручного стежка по лацканам, "4" посадка - классический,  2 пуговицы по полочкам, 2 шлицы по спинке. Брюки - модель 8: "8" зауженные без защипа, 2 кармана сзади, подшитые внизу тесьмой.
								</div>	
								<div class="price">1133 <span class="rouble">Я</span></div>
								<div class="remnants">
									<div class="title">Остатки по складу:</div>
									<div class="table_content">
										<table>
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">44</th>
													<th scope="col">46</th>
													<th scope="col">48</th>
													<th scope="col">50</th>
													<th scope="col">52</th>
													<th scope="col">54</th>
													<th scope="col">56</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>164</td>
													<td>
														<div class="quantity">12</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="22"/>
															<div class="minus">-</div>
														</div>
													</td>
													<td>
														<div class="quantity">24</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>													
													</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">42</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">25</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">21</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
												</tr>
												<tr>
													<td>170</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="22"/>
															<div class="minus">-</div>
														</div>
													</td>
													<td>
														<div class="quantity">3</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>													
													</td>
													<td>
														<div class="quantity">4</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">22</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">45</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">12</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
													<td>
														<div class="quantity">2</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="0"/>
															<div class="minus">-</div>
														</div>														
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="f_l add_basked">
									<a href="#" data-nid="0"><span>добавить в  корзину</span></a>
								</div>
								<span class="product_link">Подобрать  размер</span>
								<a class="product_link" href="#">Сравнение моделей</a>
							</div>
						</div>
					</div>
					<div class="f_l row_lot">
						<div class="block_inside">
							<div class="photo_product">
								<div class="pager_product" id="pager">
									<a data-slide-index="0" href=""><img src="images/photo/Tie_sm (3).jpg" /></a>
									<a data-slide-index="1" href=""><img src="images/photo/Tie_sm (2).jpg" /></a>
									<a data-slide-index="2" href=""><img src="images/photo/Tie_sm (4).jpg" /></a>
									<a data-slide-index="3" href=""><img src="images/photo/Tie_sm (5).jpg" /></a>
									<a data-slide-index="4" href=""><img src="images/photo/Tie_sm (1).jpg" /></a>
								</div>							
								<div class="main_photo_pr">
									<div class="image_product">
										<a href="images/photo/Tie (1).jpg" class="row_s">
											<img data-large="images/photo/Tie (1).jpg" alt="" src="images/photo/Tie (1).jpg" />
										</a>
										<a href="images/photo/Tie (2).jpg" class="row_s">
											<img data-large="images/photo/Tie (2).jpg" alt="" src="images/photo/Tie (2).jpg" />
										</a>										
										<a href="images/photo/Tie (3).jpg" class="row_s">
											<img data-large="images/photo/Tie (3).jpg" alt="" src="images/photo/Tie (3).jpg" />
										</a>
										<a href="images/photo/Tie (4).jpg" class="row_s">
											<img data-large="images/photo/Tie (4).jpg" alt="" src="images/photo/Tie (4).jpg" />
										</a>	
										<a href="images/photo/Tie (5).jpg" class="row_s">
											<img data-large="images/photo/Tie (5).jpg" alt="" src="images/photo/Tie (5).jpg" />
										</a>
									</div>
									<div class="imag_box"><a href="images/photo/product_second.jpg"></a></div>	
								</div>
							</div>
							<div class="info_product">
								<div class="fild">
									Вид: костюм
								</div>
								<div class="fild">
									Артикул: 130-3-М8.7 Пиджак
								</div>
								<div class="fild">
									Состав: шерсть-35%, вискоза-35%, полиэстер-30%
								</div>
								<div class="fild">
									Модель: костюм приталенный
								</div>
								<div class="fild">
									Цвет: синий
								</div>
								<div class="fild">
									Фактура: узор
								</div>
								<div class="fild">
									Описание: М48 - костюм классический. Пиджак - модель М4: "М" без ручного стежка по лацканам, "4" посадка - классический,  2 пуговицы по полочкам, 2 шлицы по спинке. Брюки - модель 8: "8" зауженные без защипа, 2 кармана сзади, подшитые внизу тесьмой.
								</div>	
								<div class="price">1133 <span class="rouble">Я</span></div>
								<div class="remnants">
									<div class="title">Остатки по складу:</div>
									<div class="table_content">
										<table>
											<tbody>
												<tr>
													<td>5</td>
													<td>
														<div class="quantity">33</div>
														<div class="number">
															<div class="plus">+</div>
															<input type="text" value="22"/>
															<div class="minus">-</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="f_l add_basked">
									<a href="#" data-nid="0"><span>добавить в  корзину</span></a>
								</div>
								<span class="product_link">Подобрать  размер</span>
								<a class="product_link" href="#">Сравнение моделей</a>
							</div>
						</div>
					</div>
					
				</div>
			</main><!-- .content -->
		</div>
	</div>
	<footer id="footer">
		<div class="block_inside">
			<div class="f_l top_footer">
				<div class="phone">
					<a href="tel:88005003833">8-800-500-38-33</a> <span class="f_l">Единый call-центр (по России бесплатно)</span>
				</div>
				<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				<a href="" class="feadback">Обратная связь</a>
			</div>
			<div class="f_l center_footer">
				<nav>
					<div class="title_menu">оптовый интернет-магазин</div>
					<ul>
						<li class="top_link"><a href="#">Информация оптовика</a></li>
						<li><a href="#">Подобрать размер</a></li>
						<li><a href="#">Условия сотрудничества</a></li>
						<li><a href="#">Цены групп товара</a></li>
						<li><a href="#">Оплата заказа</a></li>
						<li><a href="#">Доставка заказа</a></li>
						<li><a href="#">ТК по доставке</a></li>
						<li><a href="#">Фирменный каталог</a></li>
						<li><a href="#">Образцы тканей</a></li>
					</ul>
				</nav>
				<nav>
					<div class="title_menu">розничный интернет-магазин</div>
					<ul>
						<li><a href="#">Подобрать размер</a></li>
						<li><a href="#">Оплата заказа</a></li>
						<li><a href="#">Доставка заказа</a></li>
						<li><a href="#">Обмен и возврат</a></li>
						<li><a href="#">Фирменный каталог</a></li>
						<li><a href="#">Образцы тканей</a></li>
					</ul>
				</nav>
				<nav>
					<div class="title_menu">франчайзинг</div>
					<ul>
						<li><a href="#">Инвестиции в открытие</a></li>
						<li><a href="#">Поддержка со стороны SVYATNYH</a></li>
						<li><a href="#">Этапы по открытию магазина</a></li>
						<li><a href="#">Ваша прибыль</a></li>
						<li><a href="#">Презентация магазинов</a></li>
						<li><a href="#">Фирменный каталог</a></li>
					</ul>
				</nav>								
			</div>
			<div class="f_l contact_footer">
				<div class="row_g">
					<div class="title_row">Главный офис оптовых продаж</div>
					<div class="work_time">Режим работы: пн-сб с 7:30 до 19:30</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>
				<div class="row_g">
					<div class="title_row">Интернет-магазин:</div>
					<div class="work_time">Режим работы: пн-сб с 7:30 до 19:30</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>
				<div class="row_g">
					<div class="title_row">Отдел франчайзинга:</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>				
			</div>
		</div>
	</footer><!-- .footer -->	
	<div class="shadow"></div>
	<div class="fixed_line"></div>
	<div class="shadow_form"></div>
	<div class="f_l size_pab">
		<div class="inside_size">
			<div class="close"></div>
			<div class="f_l content_size">
				<div class="f_l title_size">подобрать размер</div>
				<div class="f_l content_desc">
					<div class="tabs_node">
						<div class="tabs pr_f active">
							<i class="f_l"></i>
							Пальто
						</div>
						<div class="tabs pr_s">
							<i class="f_l"></i>
							Костюмы				
						</div>
						<div class="tabs pr_three">
							<i class="f_l"></i>
							Пиджаки				
						</div>
						<div class="tabs pr_four">
							<i class="f_l"></i>
							Брюки					
						</div>
						<div class="tabs pr_five">
							<i class="f_l"></i>
							Сорочки					
						</div>
						<div class="tabs pr_six">
							<i class="f_l"></i>
							Свитера				
						</div>
						<div class="tabs pr_seven">
							<i class="f_l"></i>
							Носки					
						</div>
					</div>
					<div class="f_l info_block block_pr_f">
						<div class="f_l text">Тут будет текст или таблица</div>
					</div>
					<div class="f_l info_block block_pr_s">
						<div class="f_l main_grup">
							<div class="table_grup left_g">
								<div class="image_table"><img src="images/css/i_height.png" /></div>
								<div class="table_content">
									<table>
										<thead>
											<tr>
												<th scope="col">Рост</th>
												<th scope="col">Диапазон ростов, см</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>164</td>
												<td>164</td>
											</tr>
											<tr>
												<td colspan="2" rowspan="1">стандартные</td>
											</tr>
											<tr>
												<td>170</td>
												<td>164-170</td>
											</tr>
											<tr>
												<td>176</td>
												<td>170-182</td>
											</tr>
											<tr>
												<td>182</td>
												<td>182-188</td>
											</tr>
											<tr>
												<td colspan="2" rowspan="1">длинные</td>
											</tr>
											<tr>
												<td>188</td>
												<td>188-194</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="table_grup right_g">
								<div class="image_table"><img src="images/css/i_amount.png" /></div>
								<div class="table_content">
									<table>
										<thead>
											<tr>
												<th class="f_big">Размер</th>
												<th>Обхват груди (1), см</th>
												<th>Обхват талии (2), см</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="3" rowspan="1">стандартные</td>
											</tr>
											<tr>
												<td class="f_big">44</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">46</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">48</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">50</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">52</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">54</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">56</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">58</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">60</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">62</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td colspan="4" rowspan="1">гиганты</td>
											</tr>
											<tr>
												<td class="f_big">64</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">66</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">68</td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>						
						</div>
					</div>
					<div class="f_l info_block block_pr_three">
						<div class="f_l text">Тут будет текст или таблица</div>
					</div>
					<div class="f_l info_block block_pr_four">
						<div class="f_l main_grup">
							<div class="table_grup left_g">
								<div class="image_table"><img src="images/css/i_waist.png" /></div>
								<div class="table_content">
									<table>
										<thead>
											<tr>
												<th scope="col">Размер</th>
												<th scope="col">Обхват талии,см</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>44</td>
												<td>76</td>
											</tr>
											<tr>
												<td>46</td>
												<td>80</td>
											</tr>
											<tr>
												<td>48</td>
												<td>86</td>
											</tr>
											<tr>
												<td>50</td>
												<td>90</td>
											</tr>
											<tr>
												<td>52</td>
												<td>94</td>
											</tr>
											<tr>
												<td>54</td>
												<td>100</td>
											</tr>
											<tr>
												<td>56</td>
												<td>106</td>
											</tr>
											<tr>
												<td>58</td>
												<td>110</td>
											</tr>
											<tr>
												<td>60</td>
												<td>116</td>
											</tr>
											<tr>
												<td>62</td>
												<td>122</td>
											</tr>
											<tr>
												<td>64</td>
												<td>128</td>
											</tr>
											<tr>
												<td>66</td>
												<td>132</td>
											</tr>
											<tr>
												<td>68</td>
												<td>136</td>
											</tr>
											<tr>
												<td>70</td>
												<td>140</td>
											</tr>
											<tr>
												<td>72</td>
												<td>144</td>
											</tr>
											<tr>
												<td>74</td>
												<td>148</td>
											</tr>
											<tr>
												<td>76</td>
												<td>152</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="table_grup right_g">
								<div class="image_table"><img src="images/css/i_leg.png" /></div>
								<div class="table_content">
									<table>
										<thead>
											<tr>
												<th class="f_big" colspan="1" rowspan="2">Размер</th>
												<th colspan="5" rowspan="1">Ширина низа брючины, см</th>
											</tr>
											<tr>
												<th>Класси-ческие</th>
												<th>Слегка зауженные (арт. 8-)</th>
												<th>Зауженные (арт. 5-.7-, 10-)</th>
												<th>Узкие (арт. ...2-)</th>
												<th>Суперузкие (арт. ...3-)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="f_big">44</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">46</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">48</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">50</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">52</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">54</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">56</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">58</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">60</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">62</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">64</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">66</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">68</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">70</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">72</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">74</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">76</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>						
						</div>
						<div class="f_l main_grup">
							<div class="table_grup left_g">
								<div class="image_table"><img src="images/css/i_climb.png" /></div>
								<div class="table_content">
									<table>
										<thead>
											<tr>
												<th scope="col">Модель</th>
												<th scope="col">Высота сидения, см</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Класси- ческие</td>
												<td>50</td>
											</tr>
											<tr>
												<td>8-</td>
												<td>48</td>
											</tr>
											<tr>
												<td>7-</td>
												<td>45</td>
											</tr>
											<tr>
												<td>5-</td>
												<td>45</td>
											</tr>
											<tr>
												<td>сasual</td>
												<td>45</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="f_l desc_table">
									Модель клас ,8- - имеет стандартную посадку по талии, 7- - среднюю посадку по талии, casual - заниженную посадку по талии 								
								</div>
							</div>
							<div class="table_grup right_g">
								<div class="image_table"><img src="images/css/i_height.png" /></div>
								<div class="table_content">
									<table>
										<thead>
											<tr>
												<th class="f_big" colspan="1" rowspan="3">Рост</th>
												<th colspan="5" rowspan="1">Рост, см</th>
											</tr>
											<tr>
												<th colspan="2" rowspan="1">Модель: клас, 8-, 7-</th>
												<th colspan="2" rowspan="1">Модель: casual</th>
											</tr>
											<tr>
												<th>Диапазон ростов</th>
												<th>Длина брюк с поясом</th>
												<th>Диапазон ростов</th>
												<th>Длина брюк с поясом</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="f_big">164</td>
												<td>164</td>
												<td>100</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td colspan="5" rowspan="1">Стандартные</td>
											</tr>
											<tr>
												<td class="f_big">н/р</td>
												<td></td>
												<td></td>
												<td>170-182</td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">170</td>
												<td>170</td>
												<td>104</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">176</td>
												<td>176</td>
												<td>108</td>
												<td>170-182</td>
												<td>108</td>
											</tr>
											<tr>
												<td class="f_big">182</td>
												<td>182</td>
												<td>112</td>
												<td>170-182</td>
												<td>108</td>
											</tr>
											<tr>
												<td colspan="5" rowspan="1">Длинные</td>
											</tr>
											<tr>
												<td class="f_big">188</td>
												<td>188</td>
												<td>116</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">194</td>
												<td>194</td>
												<td>120</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">200</td>
												<td>200</td>
												<td>124</td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="f_l desc_table">
									Модель клас, 8-, 7- подшиты тесьмой, модель casual подшиты без тесьмы						
								</div>
							</div>						
						</div>
					</div>
					<div class="f_l info_block block_pr_five">
						<div class="f_l main_grup">
							<div class="table_grup left_g">
								<div class="image_table"><img src="images/css/i_neck.png" /></div>
								<div class="table_content">
									<table>
										<thead>
											<tr>
												<th scope="col">Размер</th>
												<th scope="col">Обхват шеи, см</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="2" rowspan="1">полуприталенные</td>
											</tr>
											<tr>
												<td>39</td>
												<td>39</td>
											</tr>
											<tr>
												<td>40</td>
												<td>40</td>
											</tr>
											<tr>
												<td>41</td>
												<td>41</td>
											</tr>
											<tr>
												<td>42</td>
												<td>42</td>
											</tr>
											<tr>
												<td>43</td>
												<td>43</td>
											</tr>
											<tr>
												<td>44</td>
												<td>44</td>
											</tr>
											<tr>
												<td>46</td>
												<td>46</td>
											</tr>
											<tr>
												<td colspan="2" rowspan="1">приталенные</td>
											</tr>
											<tr>
												<td>S</td>
												<td>38</td>
											</tr>
											<tr>
												<td>M</td>
												<td>39</td>
											</tr>
											<tr>
												<td>L</td>
												<td>40</td>
											</tr>
											<tr>
												<td>XL</td>
												<td>41</td>
											</tr>
											<tr>
												<td>XXL</td>
												<td>42</td>
											</tr>
											<tr>
												<td>XXXL</td>
												<td>43</td>
											</tr>
											<tr>
												<td>4XL</td>
												<td>44</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="f_l in_table">
									<div class="image_table"><img src="images/css/i_height.png" /></div>
									<div class="table_content">
										<table>
											<thead>
												<tr>
													<th scope="col">Рост</th>
													<th scope="col">Диапазон ростов, см</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td colspan="2" rowspan="1">полуприталенные</td>
												</tr>
												<tr>
													<td>176</td>
													<td>170-176</td>
												</tr>
												<tr>
													<td>182</td>
													<td>182-194</td>
												</tr>											
												<tr>
													<td colspan="2" rowspan="1">приталенные</td>
												</tr>
												<tr>
													<td>н/роста</td>
													<td>170-182</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="table_grup right_g">
								<div class="table_content">
									<table>
										<thead>
											<tr>
												<th class="f_big">Размер</th>
												<th>Обхват груди (1), см</th>
												<th>Длина рукава (2), см</th>
												<th>Длина сорочки (3), см</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="4" rowspan="1">полуприталенные</td>
											</tr>
											<tr>
												<td class="f_big">39/176</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">40/176</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">41/176</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">42/176</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">43/176</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">44/176</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">41/182</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">42/182</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">43/182</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">44/182</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">45/182</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">46/182</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td colspan="4" rowspan="1">приталенные</td>
											</tr>
											<tr>
												<td class="f_big">S</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">M</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">L</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">XL</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">XXL</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">XXXL</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td class="f_big">4XL</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="f_l desc_table image"><img src="images/css/i_shirt.jpg" alt="" /></div>
							</div>						
						</div>													
					</div>
					<div class="f_l info_block block_pr_six">
						<div class="f_l text">Тут будет текст или таблица</div>
					</div>
					<div class="f_l info_block block_pr_seven">
						<div class="f_l text">Тут будет текст или таблица</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<p id="back-top"> 
		<a href="#top"><img src="images/css/up_button.png" alt="Вверх" /></a> 
	</p>	
</body>
</html>