<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Svyatnyh</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/style.css" rel="stylesheet"> <!-- Основной цсс -->
	<link href="css/media.css" rel="stylesheet"> <!-- Адаптивность -->
	<link href="css/photobox.css" rel="stylesheet"> <!-- Фотобокс -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- Библиотека -->
	<script src="js/jquery.bxslider.min.js"></script> <!-- БХслайдер -->
	<script src="js/jquery.photobox.js"></script> <!-- Фотобокс -->
	<script src="js/select.js"></script> <!-- Стилизация селект листов -->
	<script src="js/global.js"></script> <!-- Глобальный свой js -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="not_front">
	<header id="header">
		<div class="f_l center_header">
			<a href="" class="logo"><img src="images/css/logo.png" alt="" /></a>
		</div>
		<div class="f_l block_menu_header">
			<div id="main-menu" class="f_l bottom_header">
				<div class="block_inside">
					<nav class="main_menu">
						<button type="button" class="navbar-toggle">
							<span class="name_m">Меню</span>
							<span class="icon_menu">
								<span class="block__icon">
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
								</span>
							</span>
						</button>
						<ul>
							<li>
								<a class="main_link" href="/"></a>
							</li>
							<li>
								<a href="#">Компания</a>
							</li>
							<li class="wholesale">
								<a href="#">Оптовый<br /> интернет-магазин</a>
								<span class="f_l menu_conteiner">
									<ul class="block_inside">
										<li>
											<a href="#">Мужская одежда <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Брюки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Casual и Chinos <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Шорты <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюмы <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Пиджаки <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Блейзеры <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюм аф <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Пальто<img src="images/photo/im_m3.jpg" alt="" /> </a>
												</li>
												<li>
													<a href="#">Сорочка с длинным рукавом <img src="images/photo/im_m1.jpg" alt="" /> </a>
												</li>
												<li>
													<a href="#">Сорочка с коротким рукавом <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Мужские аксессуары <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Бабочка <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Галстук <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Зонт <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Запонки и зажимы <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Носки <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подарочная упаковка для ремня <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подарочный набор <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Подтяжки <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Ремень <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Сумки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">детская одежда <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Брюки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Костюмы <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Сорочки <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">детские аксессуары <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Бабочки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Галстук <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Носки <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Ремень <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Информация оптовика <img src="images/photo/im_m1.jpg" alt="" /></a>
											<ul>
												<li>
													<a href="#">Подобрать размер <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Условия сотрудничества <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Цены групп товара <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Оплата заказа <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Доставка заказа <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">ТК по доставке <img src="images/photo/im_m1.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Фирменный каталог <img src="images/photo/im_m3.jpg" alt="" /></a>
												</li>
												<li>
													<a href="#">Образцы тканей <img src="images/photo/im_m2.jpg" alt="" /></a>
												</li>
											</ul>
										</li>
									</ul>
								</span>
							</li>
							<li>
								<a href="#">Розничный<br /> интернет-магазин</a>
							</li>
							<li>
								<a href="#">Фотогалерея</a>
							</li>
							<li>
								<a href="#">Франчайзинг</a>
							</li>
							<li>
								<a href="#">Магазины</a>
							</li>
							<li>
								<a href="#">Новости</a>
							</li>
							<li>
								<a href="#">Контакты</a>
							</li>
						</ul>
					</nav>
					<div class="user_block">
						<a href="#" class="lk_user">Личный<br /> кабинет</a>
						<div class="search_block">
							<form action="№" method="post" accept-charset="UTF-8">
								<input name="search_block_form" placeholder="Поиск" value="" class="form-text" type="text" />
								<div class="close"></div>
							</form>
						</div>
						<a href="#" class="favorite">
							<span class="namber">12</span>
						</a>
						<div class="basked">
							<span class="namber">0</span>
							<div class="basked_grup">
								<div class="f_l lot_in">
									В вашей корзине<br /> <strong>99 позиций товаров</strong><br /> на сумму <strong>100 500 рублей</strong>
								</div>
								<a href="#" class="f_l order_product"><span>в корзину</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header><!-- .header-->
	<div class="f_l main_content">
		<div class="block_inside">
			<div id="breadcrumps">
				<a href="/">Главная</a>
				<span class="b_sep">—</span>
				<a href="/">Оптовый интернет-магазин </a>
				<span class="b_sep">—</span>
				<span>Информация оптовика</span>
			</div>
			<div class="f_l" id="container">
				<main id="content">
					<h1>информация оптовика</h1>
					<div class="f_l node text_page">
						<div class="content_desc">
							<div class="f_l tabs_node">
								<span class="tabs pr_f active">Оплата заказа</span>
								<span class="tabs pr_t">Доставка заказа</span>
								<span class="tabs pr_for">Обмен и возврат</span>
							</div>
							<div class="info_block block_pr_f">
								<h2>Оплата заказа</h2>
								<p>Способы оплаты:</p>
								<ol>
									<li>Наличный расчет. Данный способ оплаты доступен только при самовывозе.</li>
									<li>Банковский перевод.
										<p>При оплате заказа Банковским переводом взимается комиссии от 3 до 7 %, в зависимости от Банка, услугами которого Вы пользуетесь. Перечисление денежных средств, как правило, занимает от 2-3х рабочих банковских дней. Ваш заказ будет передан в курьерскую службу, как только мы получим уведомление о зачислении денежных средств на счет SVYATNYH.</p>
										<p><img alt="" src="images/photo/img_pay.jpg" /></p>
										<p>Вы всегда можете оплатить заказ банковской картой или электронными деньгами. Оплата заказов производится моментально, в любое время дня и ночи. Платежи осуществляются через процессинговый центр PayOnline, который использует лучшую на рынке технологию защиты данных в Интернет SSL (Secure Socket Layer) версии 3.0.</p>
									</li>
									<li>Оплата on-line (Банковская карта (Master Card, VISA); Электронный кошелек (Яндекс деньги, Web money, QIWI WALLET); Сотовые операторы (МТС, TELE2) и другие способы оплаты). http://names.ru/content/help/payment/</li>
								</ol>
								<p>Вы всегда можете оплатить заказ банковской картой или электронными деньгами. Оплата заказов производится моментально, в любое время дня и ночи. Платежи осуществляются через процессинговый центр PayOnline, который использует лучшую на рынке технологию защиты данных в Интернет SSL (Secure Socket Layer) версии 3.0.</p>
								<p>Обращаем Ваше внимание, что SVYATNYH не получает и не сохраняет данные Вашей кредитной карты.</p>
								<p>Вы оплачиваете только стоимость покупки, комиссия при оплате on-line не взимается.</p>
							</div>
							<div class="info_block block_pr_t">
								<h2>Оплата заказа 2</h2>
								<p>Способы оплаты:</p>
								<ol>
									<li>Наличный расчет. Данный способ оплаты доступен только при самовывозе.</li>
									<li>Банковский перевод.
										<p>При оплате заказа Банковским переводом взимается комиссии от 3 до 7 %, в зависимости от Банка, услугами которого Вы пользуетесь. Перечисление денежных средств, как правило, занимает от 2-3х рабочих банковских дней. Ваш заказ будет передан в курьерскую службу, как только мы получим уведомление о зачислении денежных средств на счет SVYATNYH.</p>
										<p><img alt="" src="images/photo/img_pay.jpg" /></p>
										<p>Вы всегда можете оплатить заказ банковской картой или электронными деньгами. Оплата заказов производится моментально, в любое время дня и ночи. Платежи осуществляются через процессинговый центр PayOnline, который использует лучшую на рынке технологию защиты данных в Интернет SSL (Secure Socket Layer) версии 3.0.</p>
									</li>
									<li>Оплата on-line (Банковская карта (Master Card, VISA); Электронный кошелек (Яндекс деньги, Web money, QIWI WALLET); Сотовые операторы (МТС, TELE2) и другие способы оплаты). http://names.ru/content/help/payment/</li>
								</ol>
								<p>Вы всегда можете оплатить заказ банковской картой или электронными деньгами. Оплата заказов производится моментально, в любое время дня и ночи. Платежи осуществляются через процессинговый центр PayOnline, который использует лучшую на рынке технологию защиты данных в Интернет SSL (Secure Socket Layer) версии 3.0.</p>
								<p>Обращаем Ваше внимание, что SVYATNYH не получает и не сохраняет данные Вашей кредитной карты.</p>
								<p>Вы оплачиваете только стоимость покупки, комиссия при оплате on-line не взимается.</p>
							</div>
							<div class="info_block block_pr_for">
								<h2>Оплата заказа 3</h2>
								<p>Способы оплаты:</p>
								<ol>
									<li>Наличный расчет. Данный способ оплаты доступен только при самовывозе.</li>
									<li>Банковский перевод.
										<p>При оплате заказа Банковским переводом взимается комиссии от 3 до 7 %, в зависимости от Банка, услугами которого Вы пользуетесь. Перечисление денежных средств, как правило, занимает от 2-3х рабочих банковских дней. Ваш заказ будет передан в курьерскую службу, как только мы получим уведомление о зачислении денежных средств на счет SVYATNYH.</p>
										<p><img alt="" src="images/photo/img_pay.jpg" /></p>
										<p>Вы всегда можете оплатить заказ банковской картой или электронными деньгами. Оплата заказов производится моментально, в любое время дня и ночи. Платежи осуществляются через процессинговый центр PayOnline, который использует лучшую на рынке технологию защиты данных в Интернет SSL (Secure Socket Layer) версии 3.0.</p>
									</li>
									<li>Оплата on-line (Банковская карта (Master Card, VISA); Электронный кошелек (Яндекс деньги, Web money, QIWI WALLET); Сотовые операторы (МТС, TELE2) и другие способы оплаты). http://names.ru/content/help/payment/</li>
								</ol>
								<p>Вы всегда можете оплатить заказ банковской картой или электронными деньгами. Оплата заказов производится моментально, в любое время дня и ночи. Платежи осуществляются через процессинговый центр PayOnline, который использует лучшую на рынке технологию защиты данных в Интернет SSL (Secure Socket Layer) версии 3.0.</p>
								<p>Обращаем Ваше внимание, что SVYATNYH не получает и не сохраняет данные Вашей кредитной карты.</p>
								<p>Вы оплачиваете только стоимость покупки, комиссия при оплате on-line не взимается.</p>
							</div>
						</div>
					</div>
				</main><!-- .content -->
			</div>
			<aside id="left-sidebar">
				<div class="f_l menu_sitebar">
					<ul class="bar_menu">
						<li>
							<span class="tl top_link">Оптовый интернет-магазин</span>
							<ul class="second_level">
								<li>
									<span class="tl second_link">Мужская одежда</span>
									<ul class="three_level">
										<li>
											<a href="#">Брюки <span>120</span></a>
										</li>
										<li>
											<a href="#">Casual и Chinos <span>129</span></a>
										</li>
										<li>
											<a href="#">Шорты <span>131</span></a>
										</li>
										<li>
											<a href="#">Костюмы <span>120</span></a>
										</li>
										<li>
											<a href="#">Пиджаки <span>120</span></a>
										</li>
										<li>
											<a href="#">Блейзеры <span>120</span></a>
										</li>
										<li>
											<a href="#">Костюм аф <span>120</span></a>
										</li>
										<li>
											<a href="#">Сорочка с длинным рукавом <span>120</span></a>
										</li>
										<li>
											<a href="#">Сорочка с коротким рукавом <span>120</span></a>
										</li>									
									</ul>
								</li>
								<li>
									<span class="tl second_link">Мужские аксессуары</span>
									<ul class="three_level">
										<li>
											<a href="#">Бабочка <span>120</span></a>
										</li>
										<li>
											<a href="#">Галстук <span>129</span></a>
										</li>
										<li>
											<a href="#">Зонт <span>131</span></a>
										</li>
										<li>
											<a href="#">Запонки и зажимы <span>120</span></a>
										</li>
										<li>
											<a href="#">Носки <span>120</span></a>
										</li>
										<li>
											<a href="#">Подарочная упаковка для ремня <span>120</span></a>
										</li>
										<li>
											<a href="#">Подарочный набор <span>120</span></a>
										</li>
										<li>
											<a href="#">Подтяжки <span>120</span></a>
										</li>
										<li>
											<a href="#">Ремень <span>120</span></a>
										</li>	
										<li>
											<a href="#">Сумки <span>120</span></a>
										</li>									
									</ul>
								</li>	
								<li>
									<span class="tl second_link">детская одежда</span>
									<ul class="three_level">
										<li>
											<a href="#">Брюки <span>120</span></a>
										</li>
										<li>
											<a href="#">Костюмы <span>129</span></a>
										</li>
										<li>
											<a href="#">Сорочки <span>131</span></a>
										</li>							
									</ul>
								</li>
								<li>
									<span class="tl second_link">детские аксессуары</span>
									<ul class="three_level">
										<li>
											<a href="#">Бабочки <span>131</span></a>
										</li>
										<li>
											<a href="#">Галстук <span>131</span></a>
										</li>
										<li>
											<a href="#">Носки <span>131</span></a>
										</li>
										<li>
											<a href="#">Ремень <span>131</span></a>
										</li>						
									</ul>
								</li>
								<li>
									<span class="tl second_link">Информация оптовика</span>
									<ul>
										<li>
											<a href="#">Подобрать размер <span>131</span></a>
										</li>
										<li>
											<a href="#">Условия сотрудничества <span>131</span></a>
										</li>
										<li>
											<a href="#">Цены групп товара <span>131</span></a>
										</li>
										<li>
											<a href="#">Оплата заказа <span>131</span></a>
										</li>
										<li>
											<a href="#">Доставка заказа <span>131</span></a>
										</li>
										<li>
											<a href="#">ТК по доставке <span>131</span></a>
										</li>
										<li>
											<a href="#">Фирменный каталог <span>131</span></a>
										</li>
										<li>
											<a href="#">Образцы тканей <span>131</span></a>
										</li>
									</ul>
								</li>							
							</ul>
						</li>
						<li>
							<span class="tl top_link">Розничный интернет-магазин</span>
						</li>					
					</ul>
				</div>			
			</aside>
		</div>
	</div>
	<footer id="footer">
		<div class="block_inside">
			<div class="f_l top_footer">
				<div class="phone">
					<a href="tel:88005003833">8-800-500-38-33</a> <span class="f_l">Единый call-центр (по России бесплатно)</span>
				</div>
				<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				<a href="" class="feadback">Обратная связь</a>
			</div>
			<div class="f_l center_footer">
				<nav>
					<div class="title_menu">оптовый интернет-магазин</div>
					<ul>
						<li class="top_link"><a href="#">Информация оптовика</a></li>
						<li><a href="#">Подобрать размер</a></li>
						<li><a href="#">Условия сотрудничества</a></li>
						<li><a href="#">Цены групп товара</a></li>
						<li><a href="#">Оплата заказа</a></li>
						<li><a href="#">Доставка заказа</a></li>
						<li><a href="#">ТК по доставке</a></li>
						<li><a href="#">Фирменный каталог</a></li>
						<li><a href="#">Образцы тканей</a></li>
					</ul>
				</nav>
				<nav>
					<div class="title_menu">розничный интернет-магазин</div>
					<ul>
						<li><a href="#">Подобрать размер</a></li>
						<li><a href="#">Оплата заказа</a></li>
						<li><a href="#">Доставка заказа</a></li>
						<li><a href="#">Обмен и возврат</a></li>
						<li><a href="#">Фирменный каталог</a></li>
						<li><a href="#">Образцы тканей</a></li>
					</ul>
				</nav>
				<nav>
					<div class="title_menu">франчайзинг</div>
					<ul>
						<li><a href="#">Инвестиции в открытие</a></li>
						<li><a href="#">Поддержка со стороны SVYATNYH</a></li>
						<li><a href="#">Этапы по открытию магазина</a></li>
						<li><a href="#">Ваша прибыль</a></li>
						<li><a href="#">Презентация магазинов</a></li>
						<li><a href="#">Фирменный каталог</a></li>
					</ul>
				</nav>								
			</div>
			<div class="f_l contact_footer">
				<div class="row_g">
					<div class="title_row">Главный офис оптовых продаж</div>
					<div class="work_time">Режим работы: пн-сб с 7:30 до 19:30</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>
				<div class="row_g">
					<div class="title_row">Интернет-магазин:</div>
					<div class="work_time">Режим работы: пн-сб с 7:30 до 19:30</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>
				<div class="row_g">
					<div class="title_row">Отдел франчайзинга:</div>
					<a href="tel:89192999778" class="phone">8-919-299-97-78</a>
					<a href="mailto:1972594@mail.ru" class="mail">1972594@mail.ru</a>
				</div>				
			</div>
		</div>
	</footer><!-- .footer -->	
	<div class="shadow"></div>
	<p id="back-top">
		<a href="#top"><img src="images/css/up_button.png" alt="Вверх" /></a>
	</p>
</body>
</html>
